<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="content-language" content="en" />
		<meta name="author" content="Björn Kneisel" />
		<noscript>This app works best with JavaScript enabled.</noscript>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css"
		/>
		<style>
			.content {
				padding-bottom: 0.5em;
				border-bottom: 1px solid lightgrey;
			}
			.container {
				padding-bottom: 5em;
			}
		</style>
		<title>Vue.js 2 - The complete guide</title>
	</head>
	<body>
		<div id="app">
			<nav class="navbar is-primary level">
				<h3 class="level-item has-text-centered">
					Vue.js 2 - The complete guide
				</h3>
			</nav>
			<div class="container">
				<div class="content">
					<p v-if="show">You can see me!</p>
					<p v-else>Now you see me!!!!</p>
					<a class="button is-primary" @click="show = !show">Switch</a>
					<h2>Difference between v-if & v-show</h2>
					<p>
						v-if does not hide the element, it removes it from the dom. V-show
						applies css to the element (display:none;).
					</p>
				</div>
				<div class="content">
					<h2>Looping through arrays with v-for!</h2>
					<h4>Ingredients</h4>
					<ul>
						<li v-for="(ingredient, i) in ingredients">
							{{ i + 1 }}: {{ ingredient }}
						</li>
					</ul>
					<code>{{ code1 }} {{ code2 }} {{ code3 }}</code>
					<h4>Using template tag:</h4>
					<template v-for="(ingredient, index) in ingredients">
						<p class="has-text-weight-bold">{{ ingredient }}</p>
						<p>{{ index }}</p>
					</template>
					<h4>Persons:</h4>
					<ul>
						<li v-for="person in persons">
							<div v-for="(value, key, index) in person">
								{{ index + 1 }}. {{ key }}: {{ value }}
							</div>
						</li>
					</ul>
				</div>
			</div>
			<nav class="navbar is-primary level is-fixed-bottom">
				<p class="level-item has-text-centered">
					Björn Kneisel
				</p>
			</nav>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="app.js"></script>
	</body>
</html>
