<!DOCTYPE html>
<html>
  <head></head>
    <title></title>

<style>
      .color-red {
        color: red;
      }
      .is-loading {
        background-color: red;
        color: white;
      }
    </style>
  </head>
  <body>
    <div id="root">
      <h1>Laracasts EP#1-5</h1>
      <li v-for="name in names">{{ name }}</li>
      <!-- Allow user to add names -->
      <input type="text" v-model="newName">
      <button @click="addName()">Add Name</button>

      <button :title="hoverTitle">Hover over me!</button>

      <h1 :class="className">Ich bin ein mit binding gestylter H1-Tag</h1>

      <!-- Cleaner way to do this -->
      <button :class="{ 'is-loading': isLoading }" @click="toggleClass()">Click Me</button>

      <!-- Dynamically disabled button -->
      <button :disabled="isDisabled">Ich bin ein Button der verschiedene States hat</button>
      <button @click="toggleButtonState()">Change Button State</button>

      <h1>Laracasts EP#6 Computed Properties</h1>
      <!-- Computed Property -->
      <h2>{{ reversedMessage }}</h2>
      
      <h2>All tasks</h2>
      <ul>
        <li>Description || Completed</li>
        <li v-for="task in tasks">{{task.description}} || {{task.completed}}</li>
      </ul>

      <h2>Incomplete tasks</h2>
      <ul>
        <li v-for="task in incompleteTasks">{{task.description}}</li>
      </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      var app = new Vue({
        el: '#root',
        data: {
          newName: '',
          // Array of names
          names: ['Joe', 'Mary', 'Jane', 'Jack'],
          hoverTitle: 'Ich bin ein cooler Button',
          className: 'color-red',
          isLoading: false,
          isDisabled: true,
          message: 'Hello World',
          tasks: [
            { description: 'Go to the store', completed: true },
            { description: 'Finish operations research homework', completed: false },
            { description: 'Make donation to Deutsche Tierrettung', completed: true },
            { description: 'Go through E-Mail inbox', completed: false },
            { description: 'Walk yuki', completed: true },
            { description: 'Clean apartment', completed: false },
          ]
        },
        methods: {
          addName() {
            this.names.push(this.newName);
            this.newName = '';
          },
          toggleClass() {
            this.isLoading = true;
          },
          toggleButtonState() {
            this.isDisabled = !this.isDisabled;
          }
        },
        computed: {
          reversedMessage() {
            return this.message.split('').reverse().join('');
          },
          incompleteTasks() {
            return this.tasks.filter(task => !task.completed);
          }
        }
      })
    </script>
  </body>
</html>